
<div class="">
{{ form_start(form) }}
    {{ form_row(form.title, {
        label: 'Article title'
    }) }}

    
{{ form_row(form.image) }}
{{ form_row(form.heartCount) }}

    {{ form_row(form.location, {
        attr: {
            'data-specific-location-url': path('admin_article_location_select'),
            'class': 'js-article-form-location'
        }
    }) }}
<div class="js-specific-location-target">
    {%  if form.specificLocationName is defined %}
        {{ form_row(form.specificLocationName) }}
    {% endif %}
</div>
{{ form_row(form.content) }}
    {% if form.publishedAt is defined %}
        {{ form_row(form.publishedAt) }}
    {% endif %}

            {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
            {{ form_rest(form) }}
{{ form_end(form) }}





</div>